blinker
branca
certifi
charset-normalizer
click
colorama
contourpy
cycler
Flask>=3.0.0
folium
fonttools
gTTS
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib>=3.8.2
numpy
packaging
Pillow
PyAudio
pyparsing
python-dateutil
requests
setuptools
six
SpeechRecognition
tk
urllib3
Werkzeug>=3.0.1
wheel
Flask